<mat-toolbar class="fixed-toolbar">
  <mat-toolbar-row>
    <button mat-stroked-button [disabled]="!isPlaying()" (click)="onGotoPrevious()">
      <mat-icon>skip_previous</mat-icon>
    </button>

    <button mat-stroked-button [disabled]="!isPlaying()" (click)="onPauseOrResume()">
      <mat-icon>{{ getPauseOrResumeIcon() }}</mat-icon>
    </button>

    <button mat-stroked-button [disabled]="!isPlaying()" (click)="onStop()">
      <mat-icon>stop</mat-icon>
    </button>

    <button mat-stroked-button [disabled]="!isPlaying()" (click)="onGotoNext()">
      <mat-icon>skip_next</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="currentlyPlaying.file">
    <span>{{currentlyPlaying.artist}}</span>
    <mat-icon>arrow_right</mat-icon>

    <span *ngIf="hasAlbum()">{{currentlyPlaying.album}}</span>
    <mat-icon *ngIf="hasAlbum()">arrow_right</mat-icon>

    <span>{{currentlyPlaying.label}}</span>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="currentlyPlaying.file">
    <span>{{currentlyPlaying.time.minutes | number: '2.0'}}:{{currentlyPlaying.time.seconds | number: '2.0'}}&nbsp;</span>
    <mat-icon>access_time</mat-icon>
    <span>&nbsp;{{currentlyPlaying.totaltime.minutes | number: '2.0'}}:{{currentlyPlaying.totaltime.seconds | number: '2.0'}}</span>
  </mat-toolbar-row>
</mat-toolbar>
